@page
@using Digitalogygroup.DataLayer.Entities.User
@model Digitalogygroup.Web.Pages.Admin.ManageUsers.CreateUserModel
@{
    ViewData["Title"] = "افزودن کاربر";
    List<Tbl_Role> Tbl_Role = ViewData["Roles"] as List<Tbl_Role>;
}



<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">افزودن کاربر جدید</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <form method="post" enctype="multipart/form-data">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    اطلاعات کاربر
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">


                    <div class="form-group">
                        <label>نام و نام خانوادگی</label>
                        <input type="text" asp-for="VM.FullName" class="form-control">
                    </div>
                    <span asp-validation-for="VM.FullName"></span>

                    <div class="form-group">
                        <label>نام کاربری</label>
                        <input type="text" asp-for="VM.UserName" class="form-control">
                    </div>
                    <span asp-validation-for="VM.UserName"></span>

                    <div class="form-group">
                        <label>کلمه عبور</label>
                        <input type="text" asp-for="VM.Password" class="form-control">
                    </div>
                    <span asp-validation-for="VM.Password"></span>


                    <div class="form-group">
                        <label>انتخاب نقش کاربر</label>
                        @foreach (var item in Tbl_Role)
                        {
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="SelectedRoles" value="@item.Id">@item.RoleTitleFa
                                </label>
                            </div>
                        }

                    </div>
                 
                    <br />

                    <input type="submit" value="ذخیره اطلاعات" class="btn btn-success" />
                </div>
                <!-- /.panel-body -->
            </div>
        </div>


    </form>
</div>

<script src="~/js/bootstrap.min.js"></script>
<script src="`/js/script.js"></script>

<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/jquery.validate.unobtrusive.js"></script>

