<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style=" background: #000;">
    <div id="DropDownCollections">
        <div id="DropDashboard">
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" style=" height: 300px; display: block;">
                <div class="drop-close"> </div>
                <div class="container">
                    <p style="text-align: center; font-size:x-large; font-weight: 100; padding: 20px; color: #fafafa;"> تماس با ما </p>
                    <div class="col-lg-12 col-md-12 col-sm-12" style="margin: 0 auto; max-width: 800px; display: block; position: relative; float: none; text-align: left; padding-bottom: 10px;">
                        <div class="sub-menu col-lg-6 col-md-6 col-sm-6">
                            <p class="menu-header no-padding" style="font-family: 'Playfair Display', serif; line-height: 20px; border-bottom: 1px solid #fafafa; display: inline-block; ">     آدرس  </p>
                            <br />
                            <p>   تهران - خیابان - کوچه آدرس فروشگاه : -</p>
                            <p>   تهران - خیابان - کوچه آدرس کارخانه : -</p>

                        </div>
                        <div class="sub-menu col-lg-4 col-md-4 col-sm-4">
                            <p class="menu-header no-padding" style="font-family: 'Playfair Display', serif; line-height: 20px; border-bottom: 1px solid #fafafa; display: inline-block; ">  شماره های تماس   </p>
                            <ul>
                                <li>
                                    <a href="/exotic-opulence/" class="menu-header no-padding-left">   32234</a>
                                </li>
                                <li>
                                    <a href="/exotic-opulence/throws/" class="sub-title"> 342342  |</a>
                                    <a href="/exotic-opulence/rugs/" class="sub-title ">324324324 |</a>
                                    <a href="/exotic-opulence/pillows/" class="sub-title">234324234 </a>
                                </li>
                                <li>
                                    <a href="/textiles/" class="menu-header no-padding-left padtop">
                                        23432432
                                        
                                    </a>
                                </li>
                                <li>
                                    <a href="/textiles/fabrics/" class="sub-title">234324   |</a>
                                    <a href="/textiles/leathers/" class="sub-title ">2344  |</a>
                                    <a href="/textiles/wallcoverings/" class="sub-title"> 324234  </a>
                                </li>
                            </ul>
                        </div>

                        <div class="sub-menu col-lg-2 col-md-2 col-sm-2">
                            <a href="/home/index" target="_blank"><p class="menu-header no-padding" style="font-family: 'Playfair Display', serif; line-height: 20px; border-bottom: 1px solid #fafafa; display: inline-block; ">   فروشگاه ایوبی  </p> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="DropDownTerms">
        <div id="DropDashboard">
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" style=" height: 200px; display: block;">
                <div class="drop-close"> </div>
                <div class="container">
                    <p style="text-align: center; font-size:x-large; font-weight: 100; padding: 20px; color: #fafafa;"> محصولات و کالاهای قابل فروش </p>
                    <div class="col-lg-12 col-md-12 col-sm-12" style="margin: 0 auto; max-width: 800px; display: block; position: relative; float: none; text-align: left; padding-bottom: 10px;">
                        <div class="sub-menu col-lg-2 col-md-2 col-sm-2">
                        </div>
                        <div class="sub-menu col-lg-5 col-md-5 col-sm-5">
                            <p class="menu-header no-padding" style="font-family: 'Playfair Display', serif; line-height: 20px; border-bottom: 1px solid #fafafa; display: inline-block; ">  مبلمان  </p>
                            <ul>
                                <li>
                                    <a href="#" target="_blank" class="sub-title">    مشاهده تمام دسته بندی ها  ></a>
                                </li>
                            </ul>
                        </div>
                        <div class="sub-menu col-lg-5 col-md-5 col-sm-5">
                            <p class="menu-header no-padding" style="font-family: 'Playfair Display', serif; line-height: 20px; border-bottom: 1px solid #fafafa; display: inline-block; ">   کالاهای تزیینی  </p>
                            <ul>
                                <li>
                                    <a href="#" target="_blank" class="sub-title">    مشاهده تمام دسته بندی ها ></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="DropDownSocialWorld">
        <div id="DropDashboard">
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" style=" height: 200px; display: block;">
                <div class="drop-close"> </div>
                <div class="container">
                    <p style="text-align: center; font-size:x-large; font-weight: 100; padding: 20px; color: #fafafa;">  شبکه های اجتماعی</p>
                    <div class="col-lg-12 col-md-12 col-sm-12" style="margin: 0 auto; max-width: 800px; display: block; position: relative; float: none; text-align: center; padding-bottom: 10px;">
                        <div class="sub-menu" style="width: 14%; float: left;">
                            <ul>
                                <li>
                                    <a href="#" target="_blank"><img class="img-bt" src="KOKETLoveHappens_files/ft_linkedin.png" border="0"> </a>
                                </li>
                            </ul>
                        </div>
                        <div class="sub-menu" style="width: 14%; float: left;">
                            <ul>
                                <li>
                                    <a href="#" target="_blank"><img class="img-bt" src="KOKETLoveHappens_files/ft_pinterest.png" border="0"> </a>
                                </li>
                            </ul>
                        </div>
                        <div class="sub-menu" style="width: 14%; float: left;">
                            <ul>
                                <li>
                                    <a href="#" target="_blank"><img class="img-bt" src="KOKETLoveHappens_files/ft_facebook.png" border="0"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="sub-menu" style="width: 14%; float: left;">
                            <ul>
                                <li>
                                    <a href="#" target="_blank"><img class="img-bt" src="KOKETLoveHappens_files/ft_behance.png" border="0"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="sub-menu" style="width: 14%; float: left;">
                            <ul>
                                <li>
                                    <a href="#" target="_blank"><img class="img-bt" src="KOKETLoveHappens_files/ft_youtube.png" border="0"> </a>
                                </li>
                            </ul>
                        </div>
                        <div class="sub-menu" style="width: 14%; float: left;">
                            <ul>
                                <li>
                                    <a href="#" target="_blank"><img class="img-bt" src="KOKETLoveHappens_files/ft_instagram.png" border="0"> </a>
                                </li>
                            </ul>
                        </div>
                        <div class="sub-menu" style="width: 14%; float: left;">
                            <ul>
                                <li>
                                    <a href="#" target="_blank"><img class="img-bt" src="KOKETLoveHappens_files/ft_houzz.png" border="0"> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default ">
        <div class="navbar-header">
            <div id="nav-header-desktop" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border-top:1px #e8e6e7 solid;">
                <ul class="nav navbar-nav footer">
                    <li id="DropDownCollections" style="width: 16%;">
                        <div id="DropOpen">
                            <a class="Collections  menu-header" style="padding-left: 0 !important; padding-right: 0 !important;">تماس با ما</a>
                        </div>
                    </li>
                    <li id="DropDownSocialWorld" style="width: 18%;">
                        <div id="DropOpen">
                            <a class="SocialWorld menu-header " style="padding-left: 0 !important; padding-right: 0 !important;">  شبکه های اجتماعی</a>
                        </div>
                    </li>
                    <li style="width: 32%;">
                        <div id="DropOpen">
                            <a class="menu-header title" style="padding-left: 0 !important; padding-right: 0 !important;">  درباره ما </a>

                        </div>
                    </li>
                    <li id="DropDownTerms" style="width: 18%;">
                        <div id="DropOpen">
                            <a href="#" class="Terms menu-header " style="padding-left: 0 !important; padding-right: 0 !important;">
                                محصولات
                            </a>
                        </div>
                    </li>
                    <li style="width: 16%;">
                        <div id="DropOpen">
                            <a href="/home/index" class="menu-header title" style="padding-left: 0 !important; padding-right: 0 !important;">
                                خانه
                            </a>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </nav>





</div>