<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="menu-fixed" style="background-color: #151414; position: relative; padding: 0;">

    <div style="background-color: #b5b5b5; padding-bottom: 6px;">
        <div class="container clearfix" style="padding-top: 6px; ">

            <img class="pp" src="~/KOKETLoveHappens_files/2020a.png">
            <ul class="sx ">

                <li><a target="_blank" href="/downloads/Ficha de Projeto-40590.pdf">ساعت کاری نمایشگاه : همه روزه حتی روزهای تعطیل</a></li>
                <li><a target="_blank" href="/downloads/Ficha de Projeto-40886.pdf">ساعت کاری کارخانه : شنبه تا پنج شنبه : از 8 تا 6</a></li>
            </ul>

            <style>
                    .sx {
                        display: inline-block;
                        float: left;
                        margin: 0 !important;
                        padding: 0 !important;
                        list-style: none;
                        margin-top: 3px;
                    }

                        .sx li {
                            padding: 0 !important;
                            margin: 0 !important;
                            height: 16px;
                        }

                            .sx li a {
                                padding: 0 !important;
                                margin: 0 !important;
                                color: #fff;
                                font-size: 11px;
                            }

                    .clearfix::after {
                        content: "";
                        clear: both;
                        display: table;
                    }

                    .pp {
                        max-width: 295px;
                        float: left;
                        margin-right: 20px;
                    }

                    @@media (max-width: 576px) {
                        .sx {
                            display: block !important;
                            width: 28% !important;
                            margin-top: 0 !important;
                        }

                            .sx li {
                                padding: 0 !important;
                                margin: 0 !important;
                                height: 9px !important;
                                display: flex;
                            }

                                .sx li a {
                                    padding: 0 !important;
                                    margin: 0 !important;
                                    color: #fff;
                                    font-size: 6px !important;
                                }

                        .pp {
                            width: 140px;
                            float: left;
                            margin-right: 20px;
                        }
                    }
            </style>

        </div>
    </div>
    <div class="user-header">

        <div class="container">
            <div class="downloads" style="width: 40%;">
                <ul class="nav">
                    <li><b>  دانلود  :</b></li>
                    <li><a href="#"><i class="fa fa-download" aria-hidden="true"></i> کاتالوگ مبلمان</a></li>
                    <li><a href="#"><i class="fa fa-download" aria-hidden="true"></i> کاتالوگ وسایل تزیینی</a></li>
                    <!--<li><a href="http://www.bykoket.com/ready-to-ship.php"><i class="fa fa-download" aria-hidden="true"></i> Stock List</a></li>-->
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 visible-lg visible-md" style="position: relative; padding: 0;direction:rtl;">
                <div class="ticker-container">
                    <!--				<div class = "ticker-text">
                                        <a  href="https://www.bykoket.com/kkoutlet/?utm_source=KKJuly2020&utm_medium=website&utm_content=campaign&utm_campaign=KKOUTLET-HEADER" target="_blank"><b> KK OUTLET Now Up to 75% Off  </b> - Shop Now > </a>
                                    </div>-->
                </div>

            </div>

            <div class="big-user-menu">
                <div class="user-menu" dir="rtl">

                    <span class="outlet-title">  تماس با ما  : </span>
                    <span class="outlet-phone">  9719837 - 021  <i class="fa fa-phone" aria-hidden="true"></i>  </span>
                    <span class="outlet-phone">  89820938 - 021 <i class="fa fa-phone" aria-hidden="true"></i>  </span>


                    <!--   <a href="http://www.bykoket.com/kkoutlet/signin.php">Sign In</a>
                    <a href="http://www.bykoket.com/kkoutlet/signin.php">Sign Up</a>-->


                </div>
                <!--<div class="cart-dropdown cart-btn">
                    <a href="http://www.bykoket.com/kkoutlet/cart.php"><img src="https://www.bykoket.com/kkoutlet/assets/images/bag.svg" height="22"></a>
                </div>-->
            </div>

        </div>

    </div>

    <nav class="navbar navbar-default ">
        <div id="header-all" style="background-color: #151414 !important;">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand col-lg-2 col-md-2 col-sm-2 col-xs-8" href="/index.php">
                    <img src="~/KOKETLoveHappens_files/zhinG.jpg" border="0" id="logo" />
                </a>
                <div id="nav-header-desktop" class="visible-lg visible-md visible-sm col-lg-10 col-md-10 col-sm-10 rtl ">
                    <ul class="nav navbar-nav">

                        <li>
                            <a href="/Home/index" class="menu-header " style="color: #AB9865 !important;    font-weight: 400;    letter-spacing: 1px;">  خانه </a>
                        </li>
                        <li class="dropdown" id="products">
                            <a href="#" class="dropdown-toggle products menu-header" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">محصولات</a>
                        </li>
                        <li class="dropdown" id="koketworld" style="width: 9%;">
                            <a href="#" class="dropdown-toggle koketworld menu-header" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">   درباره ما </a>
                        </li>
                        <li>
                            <a href="/Contact/Index" class="menu-header ">تماس با ما  </a>
                        </li>


                    </ul>
                </div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-mobile col-sm-12 col-xs-12 top bottom" id="bs-example-navbar-collapse-1" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a href="/Home/index" class="menu-header ">خانه</a></li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle menu-header" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> محصولات </a>
                        <ul class="dropdown-menu">
                            <div class="arrow-up visible-md visible-lg"></div>
                            <li><a href="/exotic-opulence/index.php" class="menu-header">    مبلمان</a></li>
                            <li><a href="/all-products.php" class="menu-header">     کالای تزیینی</a></li>

                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="" class="dropdown-toggle menu-header" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  درباره ما  </a>
                        <ul class="dropdown-menu">
                            <div class="arrow-up visible-md visible-lg"></div>
                            <li><a href="/About/vision" target="_blank" class="menu-header"> چشم انداز  </a></li>
                            <li><a href="/About/Team" target="_blank" class="menu-header"> تیم ما  </a></li>
                            <li><a href="/About/Customers" target="_blank" class="menu-header"> مشتریان</a></li>

                        </ul>
                    </li>
                    <li><a href="/Contact/Index" class="menu-header ">  تماس با ما</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <div id="dropdown-menu-products" class="col-lg-12 col-md-12 col-sm-12">
        <div class="drop-close"> </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-12 col-md-12 col-sm-12" style="margin: 0 auto; max-width: 1230px; display: block; position: relative; float: none;">
                <!--<div class="arrow-up visible-md visible-lg"></div>-->
                <div id="sub-menu-collections" class="sub-menu" style="width: 40%; float: left;">
                    <ul>
                        <li><a href="/all-products.php" class="menu-header title" id="guiltypleasures" role="button" aria-haspopup="true" aria-expanded="false">   مبلمان</a></li>
                        <li><a href="/exotic-opulence/" class="menu-header title" id="exoticopulence" role="button" aria-haspopup="true" aria-expanded="false">  تخت خواب   </a></li>
                        <li><a href="http://www.kkbykoket.com.pt/index/home/" id="kkbykoket" target="_blank" class="menu-header title" role="button" aria-haspopup="true" aria-expanded="false">میز نهارخوری</a></li>
                        <!--<li><a href="http://www.kkbykoket.com.pt/index/home/" id="kkbykoket" target="_blank" class="menu-header title" role="button" aria-haspopup="true" aria-expanded="false">میز و عسلی  </a></li>-->
                    </ul>
                    <!--            <li><a href="http://www.kkbykoket.com.pt/index/home/" class="menu-header title">KK BY KOKET</a></li>-->
                </div>

                <div id="guilty-pleasures">
                    <div id="sub-casegoods" class="sub-menu" style="width: 15%; float: left;">
                        <ul>
                            <li><a href="/all-products.php" class="menu-header title">   همه کالاهای تریینی  </a></li>
                            <li><a href="/catalogue/casegoods.php" class="menu-header title">گلدان</a></li>
                            <li><a href="/all-products.php#cabinets-bookcases" class="menu-header">تابلو</a></li>
                            <li><a href="/all-products.php#cabinets-bookcases" class="menu-header">ساعت</a></li>
                            <li><a href="/all-products.php#consoles-sideboards" class="menu-header">شمع</a></li>
                            <li><a href="/all-products.php#tables-desks" class="menu-header">ظرف</a></li>
                            <li><a href="/all-products.php#tables-desks" class="menu-header">   لوستر</a></li>
                            <li><a href="/all-products.php#side-tables" class="menu-header">   آباژور</a></li>
                            <li><a href="/all-products.php#side-tables" class="menu-header">  کوسن</a></li>
                            <li><a href="/all-products.php#side-tables" class="menu-header">رو میزی</a></li>
                        </ul>
                    </div>
                    <!--<div class="sub-menu " style="width: 10%; float: left;">
                        <ul id="sub-upholstery">
                            <li><a href="/catalogue/upholstery.php" class="menu-header sub-upholstery title">UPHOLSTERY</a></li>
                            <li><a href="/all-products.php#sofas-chaises-day-beds" class="menu-header sub-upholstery">Sofas</a></li>
                            <li><a href="/all-products.php#sofas-chaises-day-beds" id="sub-upholstery" class="menu-header sub-upholstery">Love Seats</a></li>
                            <li><a href="/all-products.php#sofas-chaises-day-beds" class="menu-header sub-upholstery">Chaises</a></li>
                            <li><a href="/all-products.php#sofas-chaises-day-beds" class="menu-header sub-upholstery">Day Beds</a></li>
                            <li><a href="/all-products.php#chairs-dining-chairs" class="menu-header sub-upholstery">Accent Chairs</a></li>
                            <li><a href="/all-products.php#chairs-dining-chairs" class="menu-header sub-upholstery">Dining Chairs</a></li>
                            <li><a href="/all-products.php#bar-stools" class="menu-header sub-upholstery">Bar Stools</a></li>
                            <li><a href="/all-products.php#benches-stools" class="menu-header sub-upholstery">Benches</a></li>
                            <li><a href="/all-products.php#benches-stools" class="menu-header sub-upholstery">Stools</a></li>
                        </ul>
                        <ul id="sub-beds">
                            <li><a href="/all-products.php#beds" class="menu-header title">BEDS</a></li>
                        </ul>
                    </div>
                    <div id="sub-lighting" class="sub-menu " style="width: 10%; float: left;">
                        <ul>
                            <li><a href="/catalogue/lighting.php" class="menu-header sub-lighting title">LIGHTING</a></li>
                            <li><a href="/all-products.php#chandeliers" id="sub-lighting" class="menu-header sub-lighting">Chandeliers</a></li>
                            <li><a href="/all-products.php#sconces" id="sub-lighting" class="menu-header sub-lighting">Sconces</a></li>
                            <li><a href="/all-products.php#chandeliers" id="sub-lighting" class="menu-header sub-lighting">Pendants</a></li>
                            <li><a href="/all-products.php#table-floor-lamps" id="sub-lighting" class="menu-header sub-lighting">Floor Lamps</a></li>
                            <li id="sub-lighting"><a href="/all-products.php#table-floor-lamps" class="menu-header sub-lighting">Table Lamps</a></li>
                        </ul>
                    </div>-->
                    <!--<div id="sub-fragrances" class="sub-menu" style="width: 10%; float: left;">
                        <ul id="sub-fragrances">
                            <li><a href="/all-products.php#fragrances" class="menu-header title">FRAGRANCE</a></li>
                        </ul>
                    </div>-->
                    <div class="sub-menu col-lg-3 col-md-3 col-sm-3 no-padding" id="best-sellers">
                        <ul>
                            <li id="sub-casegoods-thumb">
                                <a href="/guilty-pleasures/casegoods/divine-armoire.php" class="menu-header title">
                                    <img src="~/KOKETLoveHappens_files/divine-armoire.png" class="img-responsive" border="0" id="" />
                                </a>
                            </li>
                            <li id="sub-upholstery-thumb">
                                <a href="/guilty-pleasures/upholstery/kelly-sofa.php" class="menu-header title">
                                    <img src="~/KOKETLoveHappens_files/kelly-sofa.png" class="img-responsive" border="0" id="" />
                                </a>
                            </li>
                            <li id="sub-beds-thumb">
                                <a href="/guilty-pleasures/upholstery/kelly-bed.php" class="menu-header title">
                                    <img src="~/KOKETLoveHappens_files/kelly-bed.png" class="img-responsive" border="0" id="" />
                                </a>
                            </li>
                            <li id="sub-lighting-thumb">
                                <a href="/guilty-pleasures/lighting/trinity-chandelier.php" class="menu-header title">
                                    <img src="~/KOKETLoveHappens_files/trinity-chandelier.png" class="img-responsive" border="0" id="" />
                                </a>
                            </li>
                            <li id="sub-fragrances-thumb">
                                <a href="/all-products.php#fragrances" class="menu-header title">
                                    <img src="~/KOKETLoveHappens_files/fragrances.png" class="img-responsive" border="0" id="" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="exotic-opulence">
                    <div id="sub-softgoods" class="sub-menu col-lg-2 col-md-2 col-sm-2">
                        <ul>
                            <li><a href="/exotic-opulence/" class="menu-header sub-softgoods title">SOFTGOODS</a></li>
                            <li><a href="/exotic-opulence/throws/" id="sub-softgoods" class="menu-header sub-softgoods">Throws</a></li>
                            <li><a href="/exotic-opulence/rugs/" id="sub-softgoods" class="menu-header sub-softgoods">Rugs</a></li>
                            <li><a href="/exotic-opulence/pillows/" id="sub-softgoods" class="menu-header sub-softgoods">Pillows</a></li>
                        </ul>
                    </div>
                    <div id="sub-textiles" class="sub-menu col-lg-2 col-md-2 col-sm-2">
                        <ul>
                            <li><a href="/textiles/" class="menu-header sub-textiles title">TEXTILES</a></li>
                            <li><a href="/textiles/fabrics/" id="sub-textiles" class="menu-header sub-textiles">Fabrics</a></li>
                            <li><a href="/textiles/leathers/" id="sub-textiles" class="menu-header sub-textiles">Leathers</a></li>
                            <li><a href="/textiles/wallcoverings/" id="sub-textiles" class="menu-header sub-textiles">Wall Coverings </a></li>
                            <li><a href="/textiles/synthetic-leathers/" id="sub-textiles" class="menu-header sub-textiles">Synthetic Leathers </a></li>
                        </ul>
                    </div>
                    <div class="sub-menu col-lg-3 col-md-3 col-sm-3 no-padding" id="best-sellers">
                        <ul>
                            <li id="sub-softgoods-thumb">
                                <a href="/exotic-opulence/softgoods/" class="menu-header title">
                                    <img src="~/KOKETLoveHappens_files/collections-textiles.png" class="img-responsive" border="0" id="" />
                                </a>
                            </li>
                            <li id="sub-textiles-thumb">
                                <a href="/textiles/" class="menu-header title">
                                    <img src="~/KOKETLoveHappens_files/collections-textiles.png" class="img-responsive" border="0" id="" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="kk-bykoket">
                    <div class="sub-menu col-lg-8 col-md-8 col-sm-8 no-padding">
                        <a href="http://www.kkbykoket.com.pt/index/home/" target="_blank" class="menu-header title">
                            <img src="~/KOKETLoveHappens_files/collections-kkbykoket.png" class="img-responsive" border="0" style="max-width: 550px; margin: 0 auto;" />
                        </a>
                    </div>
                </div>
                <div id="exotic-opulence">
                    <!--<div id="sub-softgoods" class="sub-menu col-lg-2 col-md-2 col-sm-2">
                        <ul>
                            <li><a href="/exotic-opulence/" class="menu-header sub-softgoods title">SOFTGOODS</a></li>
                            <li><a href="/exotic-opulence/throws/" id="sub-softgoods" class="menu-header sub-softgoods">Throws</a></li>
                            <li><a href="/exotic-opulence/rugs/" id="sub-softgoods" class="menu-header sub-softgoods">Rugs</a></li>
                            <li><a href="/exotic-opulence/pillows/" id="sub-softgoods" class="menu-header sub-softgoods">Pillows</a></li>
                        </ul>
                    </div>
                    <div id="sub-textiles" class="sub-menu col-lg-2 col-md-2 col-sm-2">
                        <ul>
                            <li><a href="/textiles/" class="menu-header sub-textiles title">TEXTILES</a></li>
                            <li><a href="/textiles/fabrics/" id="sub-textiles" class="menu-header sub-textiles">Fabrics</a></li>
                            <li><a href="/textiles/leathers/" id="sub-textiles" class="menu-header sub-textiles">Leathers</a></li>
                            <li><a href="/textiles/wallcoverings/" id="sub-textiles" class="menu-header sub-textiles">Wall Coverings </a></li>
                            <li><a href="/textiles/synthetic-leathers/" id="sub-textiles" class="menu-header sub-textiles">Synthetic Leathers </a></li>
                        </ul>
                    </div>
                    <div class="sub-menu col-lg-3 col-md-3 col-sm-3 no-padding" id="best-sellers">
                        <ul>
                            <li id="sub-softgoods-thumb">
                                <a href="/exotic-opulence/softgoods/" class="menu-header title">
                                    <img src="~/KOKETLoveHappens_files/collections-textiles.png" class="img-responsive" border="0" id="" />
                                </a>
                            </li>
                            <li id="sub-textiles-thumb">
                                <a href="/textiles/" class="menu-header title">
                                    <img src="~/KOKETLoveHappens_files/collections-textiles.png" class="img-responsive" border="0" id="" />
                                </a>
                            </li>
                        </ul>
                    </div>-->
                </div>
                <div id="kk-bykoket">
                    <!--<div class="sub-menu col-lg-8 col-md-8 col-sm-8 no-padding">
                        <a href="http://www.kkbykoket.com.pt/index/home/" target="_blank" class="menu-header title">
                            <img src="~/KOKETLoveHappens_files/collections-kkbykoket.png" class="img-responsive" border="0" style="max-width: 550px; margin: 0 auto;" />
                        </a>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <div id="dropdown-menu-koketworld" class="dropdown-menu-koketworld col-lg-12 col-md-12 col-sm-12 ">
        <div class="drop-close"> </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-12 col-md-12 col-sm-12" style="margin: 0 auto; max-width: 1080px; display: block; position: relative; float: none;">
                <!--<div class="arrow-up visible-md visible-lg"></div>-->
                <div class="sub-menu col-lg-6 col-md-6 col-sm-6">
                    <ul>
                        <li>
                            <a href="/koketworld.php" class="">
                                <img src="~/KOKETLoveHappens_files/koket-world-title.png" class="img-responsive" border="0" id="" style="padding-top: 7px;" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sub-menu col-lg-3 col-md-3 col-sm-3" style="text-align: left; margin-top: 50px;">
                    <ul>
                        <li>
                            <a href="/About/vision" class="menu-header title">
                                چشم انداز<br>
                            </a>
                        </li>
                        <li>
                            <a href="/About/Team" class="menu-header title">
                                تیم ما<br>
                            </a>
                        </li>
                        <li>
                            <a href="/About/Customers" class="menu-header title">
                                مشتریان<br>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="dropdown-menu-prices" class="col-lg-12 col-md-12 col-sm-12">
        <div class="drop-close"> </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-12 col-md-12 col-sm-12" style="margin: 0 auto; max-width: 40%; display: block; position: relative; float: none;">
                <div id="" class="sub-menu col-lg-6 col-md-6 col-sm-6">
                    <ul id="">
                        <li>
                            <a href="/news/" target="_blank" class="menu-header sub-upholstery title" style="padding-top: 20px;">
                                NEWS
                                <img src="~/KOKETLoveHappens_files/2-blog.jpg" class="img-responsive" border="0" id="" style="" />
                            </a>
                        </li>
                </div>
                <div id="" class="sub-menu col-lg-6 col-md-6 col-sm-6">
                    <ul id="">
                        <li>
                            <a href="/inspirations/" target="_blank" class="menu-header sub-upholstery title" style="padding-top: 20px;">
                                INSPIRATIONS & IDEAS
                                <img src="~/KOKETLoveHappens_files/3-blog.jpg" class="img-responsive" border="0" id="" style="" />
                            </a>
                        </li>
                </div>
            </div>
        </div>
    </div>
</div>