@model Digitalogygroup.Core.DTOs.Item_ContentViewModel

@Html.Raw(Model.Content.ToString())
 

@*@foreach (var c in Model.Where(g => g.Content == null))
    {
    <div>
        @Html.Raw(c.Content.ToString())
    </div>
    }*@

