@model IEnumerable<Digitalogygroup .DataLayer .Entities.Products .Tbl_SlidShow>
<div class="col-lg-12 col-md-12 col-sm-12 visible-lg visible-md visible-sm">
    <div class="row visible-lg visible-md visible-sm" id="main-slide">
        <div class="col-lg-12 col-md-12 col-sm-12 visible-lg visible-md visible-sm no-padding-top no-padding-left no-padding-right" style="width: 100%;    height: auto;    max-height: 650px;    position: relative;    overflow: hidden;">

            <div class="flexslider14">
                <ul class="slides" style="min-height: 600px;">

                    @foreach (var sl in Model)
                    {

                        <li>
                            <a href="@sl.Link">
                                <img src="/Slid/@sl.ImageUrl" class="img-responsive" />
                            </a>
                        </li>
                    }
                     
                </ul>
            </div>
            <!-- Slider End -->
        </div>
    </div>
</div>
<div class=" visible-xs col-xs-12">
    <div class="row visible-xs">
        <div class="visible-xs col-xs-12 no-padding-top no-padding-left no-padding-right" style="width: 100%;    height: auto;    max-height: 400px;    position: relative;    overflow: hidden;">
            <div class="camera_wrap" id="camera_wrap_5">
                <!-- Slides Container  -->
                @foreach (var sl in Model)
                {
                    <div data-src="/Slid/@sl.ImageUrl" data-link="@sl.Link"></div>
                }

            </div>
        </div>
    </div>
</div>