<div dir="rtl">
    @Html.Raw(ViewData["ccc"].ToString())
</div>

@*<div>

        <img src="~/KOKETLoveHappens_files/161020195desktop.jpg" width="100%" />
        <br /><br />

    </div>
    <div class="container mt-5 mb-5">

        <div class="row">
            <div class="col-lg-6 box">
                <img src="~/KOKETLoveHappens_files/ezgif-3-74c212360f10.gif" alt="#" class="img-fluid">
            </div>

            <div class="col-lg-6 box">
                <h1>چشم انداز</h1>
                <div class="txt">

                    <p>متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.</p>

                    <p><b>چشم انداز</b></p>
                    <p>متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.</p>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 box">
                <div class="txt">

                    <p><b>  چشم انداز</b></p>
                    <p>متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.</p>

                </div>
            </div>

            <div class="col-lg-6 box">
                <img src="~/KOKETLoveHappens_files/gem-1.jpg" alt="#" class="img-fluid">
            </div>
        </div>

    </div>*@