@*@model Tuple<Digitalogygroup.Core.DTOs.Item_ContentViewModel,int>*@
@{
    ViewData["Title"] = "خانه";
}

@await Component.InvokeAsync("SlidShowComponent",1)


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="container top">

            <div class=" col-md-5 col-sm-5 col-xs-12">
                <div class=" col-md-12 col-sm-12 col-xs-12 slider-projects box no-padding">
                    <div class="box_content col-md-12 col-sm-12 col-xs-12">
                        <a href="projects/">
                            <p class="title-projects" style=" font-size: 12px; line-height: 16px;    font-family: 'Lora', serif;    color: #ccc;    text-decoration: none; text-align: center; padding-top: 10px;">
                                <span style="font-weight: 400; letter-spacing: 2px; font-size: 14px; color: #fafafa"> مبلمان</span>
                            </p>
                            <div class="line-divider"> </div>
                            <p class="" style=" font-size: 12px; line-height: 16px;    font-family: 'Lora', serif;    color: #ccc;    text-decoration: none; text-align: center; padding-top: 10px;">
                                <br><br> بهترین کیفیت و ماندگاری بالا
                            </p>
                        </a>
                    </div>
                    <div class="camera_wrap" id="camera_wrap_4">
                        <!-- Slides Container -->
                        <div data-src="/KOKETLoveHappens_files/projects-1.jpg" data-link="https://bykoket.com/projects/" data-target="_blank">
                        </div>
                        <div data-src="/KOKETLoveHappens_files/projects-2.jpg" data-link="https://bykoket.com/projects/" data-target="_blank">
                        </div>
                        <div data-src="/KOKETLoveHappens_files/projects-3.jpg" data-link="https://bykoket.com/projects/" data-target="_blank">
                        </div>
                        <div data-src="/KOKETLoveHappens_files/projects-4.jpg" data-link="https://bykoket.com/projects/" data-target="_blank">
                        </div>
                        <div data-src="/KOKETLoveHappens_files/projects-5.jpg" data-link="https://bykoket.com/projects/" data-target="_blank">
                        </div>
                        <div data-src="/KOKETLoveHappens_files/projects-6.jpg" data-link="https://bykoket.com/projects/" data-target="_blank">
                        </div>
                        <div data-src="/KOKETLoveHappens_files/projects-7.jpg" data-link="https://bykoket.com/projects/" data-target="_blank">
                        </div>
                        <div data-src="/KOKETLoveHappens_files/projects-8.jpg" data-link="https://bykoket.com/projects/" data-target="_blank">
                        </div>
                        <div data-src="/KOKETLoveHappens_files/audrey-chair-koket-projects-2.jpg" data-link="https://bykoket.com/projects/" data-target="_blank">
                        </div>
                    </div>
                </div>

            </div>
            @await Component.InvokeAsync("SlidShowRightComponent", 2)

        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 top">
    <div class="row latest-releases">
        <div class="container" style=" /* border-top: 1px solid #ccc; */">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 10px;">
                <a href="https://demoraisinternational.com/?utm_source=Koket&utm_medium=website&utm_content=footer&utm_campaign=partners" target="_blank">
                    <img src="/KOKETLoveHappens_files/demorais.jpg" alt="Demorais" class="img-responsive" />
                </a>
            </div>
        </div>
    </div>
</div>



<div class="col-sm-12 col-xs-12 visible-sm visible-xs ">
    <div class="row" style="background-color: #e8e6e7; margin: 0 auto; width: 100%;">
        <div class="col-sm-12 col-xs-12" style="background-color: #e8e6e7;">
            <p style=" font-size: 18px; line-height: 20px; font-family: 'Lora', serif;  color: #111;  text-decoration: none; text-align: center; padding: 15px;">
                <span style="font-style: italic;">#</span>بهترین طراحی و رنگ
            </p>
        </div>
        <div class="col-sm-12 col-xs-12">
            <!--<div id="social-row" class="col-sm-12 col-xs-12">

                <iframe src="https://snapwidget.com/embed/189264" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:250px; height:250px; background: #e8e6e7;  "></iframe>

            </div>-->
            <div class="col-sm-12 col-xs-12 " style="text-align: center;">
                <a href="https://instagram.com/bykoket/" class="" target="_blank">
                    <div class="cover-block" style="position: relative; text-align: center;">
                        <div class="caption">
                            <p class="btn" style="position: relative;     font-size: 12px;   text-decoration: underline; text-align: center;    font-weight: 600;">   بیشتر > </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!--<link rel="stylesheet" href="style.css" type="text/css" media="screen" />-->

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding-left: 0; padding-right: 0;">
        <div class="container rtl">
            <h1 class="text-center">
                درباره ما
            </h1><br />
        
                 <div class="text-right">
                     @*<p> متن اینجا قرار میگیرد. متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.</p>            <p> متن اینجا قرار میگیرد. متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.</p>  <p> متن اینجا قرار میگیرد. متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.متن اینجا قرار میگیرد.</p>
                     <p></p>
                     <p></p><br /><br /> <p></p>*@
                     @await Component.InvokeAsync("ContentComponent", 2)

                 </div>
        </div>

    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" style=" background: #000; ">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 top20 bottom20 partners-homepage" style="padding-left: 0; padding-right: 0;">
        <a href="https://www.bocadolobo.com/en/?utm_source=Koket&utm_medium=Website&utm_content=LifestyleImage&utm_campaign=PartnersFooter" target="_blank">
            <img src="/KOKETLoveHappens_files/bl-affair-1.jpg" onmouseover="this.src='/KOKETLoveHappens_files/bl-affair-2.jpg'" onmouseout="this.src='/KOKETLoveHappens_files/bl-affair-1.jpg'" class="img-responsive">
        </a>
    </div>
</div>


